:root {
    --fs-extra-small: 21px;
    --fs-sm: 32px;
    --fs-base: 35px;
    --fs-md: 49px;
    --fs-lg: 76px;
    --fs-xl: 80px;
}

.fs-extra-small {
    font-size: var(--fs-extra-small);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}